.logo-container {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    img {
        width: auto;
        height: 100px;
    }

    .slider {
        width: 1000px;
        height: 90%;
    }

    @media screen and (max-width: 1200px) {
        .logo-container {
            flex-direction: column;

            img {
                height: 70px;
            }

            .slider {
                width: 500px;
            }
        }

        @media screen and (max-width: 600px) {
            img {
                height: 70px;
            }

            .slider {
                width: 500px;
            }
        }
    }


}